
<div  class="ts-col-100 h-100 justify-content-center align-items-center d-flex onboarding-container">
  <!--  row-->
  <div  class="login-container">
    <div class="ts-col-60 d-flex flex-column my-auto px-20 py-50 pr-50">
      <div>
        <div class="text-center ts-col">
          <div class="create_image"></div>
        </div>
      </div>
    </div>
      <div>
        <div class="bg-white border-rds-10 container mx-auto d-flex px-50 py-40 hide-stepper-header">

          <mat-stepper linear #stepper>
            <mat-step>
              <form [formGroup]="updateForm" class="ts-form mb-n25">
                <div class="d-flex text-center">
                  <span class="testsigma-logo-with-title"></span>
                </div>
                <div class="login-label rb-medium mb-35 fz-20 pt-30">
                  <span class="rb-medium fz-20" [translate]="'onboarding.create_your_profile'"></span>
                </div>
                <div class="d-flex justify-content-center ts-col-100 form-group pb-20">
                  <div class="ts-col-50" >
                    <label for="firstName" class="control-label required">
                      <span [translate]="'message.common.label.firstname'"></span>
                    </label>
                    <input type="text"
                           formControlName="firstName"
                           id="firstName" class="form-control" minlength="4">
                    <div class="error left"
                         *ngIf="(updateForm?.get('firstName')?.value?.length > 0) && updateForm?.get('firstName')?.value?.length < 4 && updateForm?.get('firstName')?.touched"
                         [textContent]="'form.validation.common.min_length' | translate: {FieldName:'First Name' , min:'4'}"></div>
                  </div> <!--firstName-->
                  <div class="ts-col-50 pl-20" >
                    <label for="lastName" class="control-label required">
                      <span [translate]="'message.common.label.lastname'"></span>
                    </label>
                    <input type="text"
                           formControlName="lastName"
                           id="lastName" class="form-control " >
                  </div> <!--lastName-->
                </div>

                <div class="d-flex ts-col-100 form-group flex-column pb-20">
                  <div class="ts-col-100">
                    <label for="email" class="control-label required">
                      <span [translate]="'message.common.label.email'"></span>
                    </label>
                    <input type="email"
                           formControlName="email"
                           id="email" class="form-control "  [required]="!!isCommunityAccess || !!isSendUpdates">
                  </div>
                  <div *ngIf="(!updateForm.get('email').valid && updateForm.get('email').touched && (!!isSendUpdates || !!isCommunityAccess))" class="help-block text-danger"
                       [translate]="'message.common.enter_valid_email'"></div>
                </div>

                <div class="d-flex ts-col-100 form-group pb-20">
                  <label for="username" class="control-label required">
                    <span [translate]="'login_form.username'"></span>
                  </label>
                  <input type="text"
                         formControlName="username"
                         id="username" class="form-control " >
                  <div class="error left"
                       *ngIf="(updateForm?.get('username')?.value?.length > 0) && updateForm?.get('username')?.value?.length < 4 && updateForm?.get('username')?.touched"
                       [textContent]="'form.validation.common.min_length' | translate: {FieldName:'Username' , min:'4'}"></div>
                </div>

                <div class="d-flex ts-col-100 form-group pb-20">
                  <label for="password" class="control-label required">
                    <span [translate]="'login_form.password'"></span>
                  </label>
                  <input type="password"
                         formControlName="password"
                         id="password" class="form-control ">
                </div>

                <!-- <div class="d-flex justify-content-center pt-10 ts-col-100">
                  <div class="ts-col-10">
                    <mat-checkbox checked = "isCommunityAccess" (click)="toggleCommunityUpdateFlag()"></mat-checkbox>
                  </div>
                 <div class="ts-col-90 text-wrap justify-content-start">
                    <span class="rb-medium" [translate]="'onboarding.get_community_edition'"></span>
                    <br>
                    <span class="rb-light text-muted">
                  {{'onboarding.community_features' | translate}}
                      <a class="text-muted text-underline" target="_blank"
                         rel="noreferrer nofollow"
                         href="https://testsigma.com/docs/getting-started/testsigma-community-cloud/" [translate]="'test_plan.testsigmalab.learn_more'"></a>.
                </span>
                  </div>
                </div> -->
                <div class="d-flex justify-content-center pt-10 ts-col-100" *ngIf="isCommunityAccess">
                  <div class="ts-col-10">
                    <mat-checkbox checked = "isSendUpdates" (click)="toggleSendUpdatesFlag()" [disabled]="!isCommunityAccess" ></mat-checkbox>
                  </div>
                  <div class="ts-col-90 text-muted rb-light" [translate]="'onboarding.subscribe_to_updates'">
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-10">
                  <button
                    [disabled]="requiredFieldsNotFilled()"
                    type="submit" (click)="verifyOrNavigate()"
                    appAsyncBtn
                    [isLoading]="isSaving"
                    style="background-color: rgb(14, 165, 218)"
                    [message]="'btn.common.please_wait'"
                    class="login-primary-btn"
                    [textContent]="(isCommunityAccess ? 'btn.common.next' : 'onboarding.signUp') | translate"></button>
                </div>
<div>
  Already a User? Click here to <a (click)="loginRedirect()" >LOGIN</a>
</div>
              </form>
            </mat-step>
            <!-- <mat-step>
              <div class="align-items-center d-flex form-group pb-25 ts-col-100">
                <a (click)="navigateBack()" class="mr-10">
                  <i class="fa-back-arrow"></i>
                </a>
                <span class="rb-medium fz-20" [translate]="'onboarding.verify_email'"></span>
              </div>
              <form class="ts-form">
                <div class="d-flex fz-15 ts-col-100">
                  <p *ngIf="otpCount<=1" [innerHTML]="'onboarding.sent_verification_code' | translate"></p>
                  <p *ngIf="otpCount>1" [translate]="'onboarding.reset_verification_code'"></p>
                </div>
                <div class="d-flex pt-20 ts-col-100 form-group">
                  <div class="ts-col-100">
                    <label for="otp" class="control-label required">
                      <span [translate]="'onboarding.verification_code'"></span>
                    </label>
                    <input type="text" id="otp"  [(ngModel)]="otp" class="form-control " >
                  </div>
                </div>

                <div class="d-flex ts-col-100 form-group fz-12">
                  <p>
                    <span [translate]="'onboarding.havent_got_code_check_spam'"></span>
                    <a class="text-link ml-2" (click)="isSaving ? '' : getOTP(true)" [translate]="(isSaving ? 'btn.common.please_wait' :'message.common.click_here')"></a>&nbsp;
                    <span [translate]="'onboarding.havent_got_code_send_another'"></span>
                    <span [translate]="'onboarding.still_having_problem'"></span>
                    <a class="text-link ml-2" target="_blank" href="https://discord.com/invite/5caWS7R6QX" [translate]="'onboarding.contact_support'"></a>.
                  </p>
                </div>
                <div class="d-flex justify-content-end form-group pb-0">
                  <button
                    class="theme-btn-primary"
                    [translate]="'btn.common.submit'"
                    appAsyncBtn
                    [isLoading]="isActivating"
                    [message]="'btn.common.please_wait'"
                    (click)="activate()" ></button>
                </div>
              </form>
            </mat-step> -->
          </mat-stepper>
        </div>
      </div>
    </div>
  </div>


